<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Code and Text Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.swift-source</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-source</string>
				<string>public.make-source</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.xml</string>
				<string>public.property-list</string>
				<string>public.toml</string>
				<string>net.daringfireball.markdown</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.johannesgrof.briskedit.tab</string>
			<key>UTTypeDescription</key>
			<string>BriskEdit Editor Tab</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/jx-grxf/BriskEdit/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>$(BRISKEDIT_SPARKLE_PUBLIC_KEY)</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
